.default_color {
    -fx-background-color: #3b75ff;
}

.jfx-slider > .colored-track {

    -fx-background-color: #3b75ff;
}

.jfx-slider > .thumb {
    -fx-background-color: #3b75ff;

}

.jfx-slider > .animated-thumb {
    -fx-background-color: #3b75ff;
}

.timelineProgress .track {
    -fx-pref-height: 5;
    -fx-pref-width: 400;
}

.timelineProgress .animated-thumb {
    -fx-opacity: 0;
}

.background_shadow {
    -fx-background-color: white;
    -fx-background-radius: 10;
}

.button_opacity {
    -fx-background-color: #3b75ff;
    -fx-background-radius: 50%;
    -fx-opacity: 0;
}

.background_shadow:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, -6, 2, 2);
}

.background_shadow:hover .image_shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, -6, 2, 2);
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.background_shadow:hover .button_opacity {
    -fx-opacity: 1;
}

.more_opacity {
    -fx-opacity: 0;

}

.background_shadow:hover .more_opacity {
    -fx-opacity: 1;
}

.label_card {
    -fx-font-size: 14;
    -fx-font-weight: 700;
    -fx-max-width: 130;
}

.top_five_card:hover {
    -fx-background-color: #e3e3e3;
    -fx-background-radius: 10;
}
.top_five_button{

    -fx-opacity: 0;
}
.top_five_card:hover .top_five_button {
    -fx-opacity: 1;
    -fx-background-color: #e3e3e3;
}


.button_toggle_discover{
    -fx-background-color:  #f5f6fc;
    -fx-font-size: 14;

}
.button_toggle_discover:focused{
    -fx-background-color:  #3b75ff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.button_toggle{
    -fx-background-color:  #3b75ff;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}
#navigateBtn{
    -fx-opacity: 0;
}
#clipBanner:hover #navigateBtn{

    -fx-opacity: 1;
}
#banner1{
    -fx-opacity: 0;
}
#banner21{
    -fx-opacity: 0;
}
#clipBanner:hover #banner21{
    -fx-opacity: 0.5;
}
#clipBanner:hover #banner1{
    -fx-opacity: 0.5;
}
.playlistBtn{
    -fx-font-size: 17;
    -fx-background-color: none;

}
.edit_background_btn{
    -fx-opacity: 0;
}
.edit_background:hover .edit_background_btn{
    -fx-opacity: 1;
}
.itemSearch{
    -fx-font-size: 15;
    -fx-background-color: none;
}
.itemSearch:hover{
    -fx-background-color: #3b75ff;
}